<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj opinię</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container form-container">
    <form th:action="@{/user-info}" method="POST">
        <h1 class="form-header">Zmień informacje konta</h1>
        <div class="form-group form-input">
            <label for="username">Imię</label>
            <input type="text" class="form-control username" id="username" placeholder="Imię">
        </div>
        <div class="form-group form-input">
            <label for="price">Nazwisko</label>
            <input type="number" class="form-control password" id="price" placeholder="Nazwisko">
        </div>
        <div class="form-group form-input">
            <label for="city">Miasto</label>
            <input type="text" class="form-control username" id="city" placeholder="Miasto">
        </div>
        <div class="form-group form-input">
            <label for="email">Email</label>
            <input type="email" class="form-control username" id="email" placeholder="Email">
        </div>
        <div class="form-group form-input">
            <label for="phone">Numer telefonu</label>
            <input type="tel" class="form-control username" id="phone" placeholder="Numer telefonu">
        </div>
        <button id="register-button" type="submit" class="btn btn-primary form-button">Edytuj profil</button>
        <!--        <div style="margin-top: 20px" th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert">-->
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>