<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Elo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/"><i class="fas fa-share-alt-square"></i>Plephora</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a id="user-profile-link" sec:authorize="isAuthenticated()" href="/profile">
                        <div class="user-profile">
                            <i class="fa-solid fa-circle-user"></i>
                            <span id="username" th:text ="${#authentication.getPrincipal().getUsername()}"></span>
                        </div>
                    </a>
<!--                    <div class="navbar-utils">-->
<!--                        <button id="xls-category-download" class="btn btn-danger navbar-util"><i class="fa-solid fa-file-arrow-down"></i>Download xls</button>-->
<!--                        <ul class="navbar-nav btn-primary me-auto mb-2 mb-lg-0 category-dropdown">-->
<!--                            <li class="nav-item dropdown">-->
<!--                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                                    Category-->
<!--                                </a>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                                    <li><a class="dropdown-item" href="#">Technology</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">Clothing</a></li>-->
<!--                                    <li><hr class="dropdown-divider"></li>-->
<!--                                    <li><a class="dropdown-item" href="#">Sports</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <div class="d-flex">
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" id="admin-panel-button" role="button" class="btn btn-primary">Panel administratora</a>
                        <a sec:authorize="isAnonymous()" th:href="@{/login}" id="login-button" role="button" class="btn btn-primary">Zaloguj</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" id="logout-button" role="button" class="btn btn-primary">Wyloguj</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>