<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profil użytkownika</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
    <link th:href="@{/styles/profile.css}" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container my-5">
        <div class="row">
            <div class="col-5">
                <div class="user-main">
                    <div class="user-image">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div id="profile-username">PussyDestroyer69</div>
                    <a th:href="@{edit-profile}" id="edit-info-button" class="btn btn-primary" type="submit">Edytuj profil</a>
                </div>
            </div>
            <div class="col-7 my-5">
                <div class="user-info">
                    <div>
                        <p>Imię:</p>
                        <p>Nazwisko:</p>
                        <p>Miasto:</p>
                        <p>Email:</p>
                        <p>Telefon:</p>
                    </div>
                    <div class="user-info-values">
                        <p>Michał</p>
                        <p>Wójcik</p>
                        <p>Warszawa</p>
                        <p>michal.woj1010@gmail.com</p>
                        <p>+48 694 205 235</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row profile-section">
            <p class="section-header">Twoja lista życzeń</p>
            <div class="products-list">

                <div class="product">
                    <div class="product-photo-container">
                        <img th:src="@{img/ajfon.jpg}" class="product-photo" alt="Responsive image">
                    </div>
                    <div class="product-content">
                        <div class="product-header">
                            <h3 class="product-title">Iphone 13 Pro Max 1000gb super hiper</h3>
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                        </div>

                        <div class="product-info">
                            <p>Sprzedawca: StachuStachursky666</p>
                            <p>Kategoria: Technologia</p>
                            <p class="product-price">Cena: 5999,99 zł</p>
                        </div>
                        <div class="product-utils">
                            <div class="product-seller-buttons">
                                <button type="button" class="btn btn-danger buy-button delete-prod-button">Usuń</button>
                                <button type="button" class="btn btn-light edit-prod-button">Edytuj</button>
                            </div>
                            <div class="product-customer-buttons">
                                <button type="button" class="btn btn-primary buy-button">Kup teraz</button>
                                <button type="button" class="btn btn-primary">Dodaj do koszyka</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-photo-container">
                        <img th:src="@{img/ajfon.jpg}" class="product-photo" alt="Responsive image">
                    </div>
                    <div class="product-content">
                        <div class="product-header">
                            <h3 class="product-title">Iphone 13 Pro Max 1000gb super hiper</h3>
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                        </div>
                        <div class="product-info">
                            <p>Sprzedawca: StachuStachursky666</p>
                            <p>Kategoria: Technologia</p>
                            <p class="product-price">Cena: 5999,99 zł</p>
                        </div>
                        <div class="product-utils">
                            <div class="product-seller-buttons">
                                <button type="button" class="btn btn-danger buy-button delete-prod-button">Usuń</button>
                                <button type="button" class="btn btn-light edit-prod-button">Edytuj</button>
                            </div>
                            <div class="product-customer-buttons">
                                <button type="button" class="btn btn-primary buy-button">Kup teraz</button>
                                <button type="button" class="btn btn-primary">Dodaj do koszyka</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-photo-container">
                        <img th:src="@{img/ajfon.jpg}" class="product-photo" alt="Responsive image">
                    </div>
                    <div class="product-content">
                        <div class="product-header">
                            <h3 class="product-title">Iphone 13 Pro Max 1000gb super hiper</h3>
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                        </div>
                        <div class="product-info">
                            <p>Sprzedawca: StachuStachursky666</p>
                            <p>Kategoria: Technologia</p>
                            <p class="product-price">Cena: 5999,99 zł</p>
                        </div>
                        <div class="product-utils">
                            <div class="product-seller-buttons">
                                <button type="button" class="btn btn-danger buy-button delete-prod-button">Usuń</button>
                                <button type="button" class="btn btn-light edit-prod-button">Edytuj</button>
                            </div>
                            <div class="product-customer-buttons">
                                <button type="button" class="btn btn-primary buy-button">Kup teraz</button>
                                <button type="button" class="btn btn-primary">Dodaj do koszyka</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0 profile-section">
            <p class="section-header">Wystawione opinie</p>
            <div class="opinions-utils">
                <div class="btn-group opinions-dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Wszystkie
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Wszystkie</a></li>
                        <li><a class="dropdown-item" href="#">Pozytywne</a></li>
                        <li><a class="dropdown-item" href="#">Negatywne</a></li>
                    </ul>
                </div>
                <a th:href="@{/add-opinion}" id="add-opinion-button" type="button" class="btn btn-primary">Dodaj opinię</a>
            </div>

            <div class="profile-opinion">
                <div class="opinion-header">
                    <div class="opinion-username">Stachursky666</div>
                    <div class="opinion-utils">
                        <a class="remove-opinion-link" href="#">Usuń</a>
                        <a th:href="@{/opinion-edit}">Edytuj</a>
                    </div>
                </div>
                <div class="opinion-rating">Ocena: 3/5</div>
                <div class="opinion-date">22.04.2021, 16:03</div>
                <p class="opinion-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec tincidunt eget mauris eu egestas. Maecenas mi dolor, pharetra eget mi ac, convallis sagittis erat.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam ut lorem nec lacus ornare imperdiet vel eu nulla.
                    Proin commodo risus eu imperdiet elementum. Mauris sodales dignissim magna a ullamcorper.
                    Maecenas neque lacus, varius eget blandit id, facilisis sed mi.
                </p>
            </div>

            <div class="profile-opinion">
                <div class="opinion-header">
                    <div class="opinion-username">Stachursky666</div>
                    <div class="opinion-utils">
                        <a class="remove-opinion-link" href="#">Usuń</a>
                        <a href="#">Edytuj</a>
                    </div>
                </div>
                <div class="opinion-rating">Ocena: 3/5</div>
                <div class="opinion-date">22.04.2021, 16:03</div>
                <p class="opinion-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec tincidunt eget mauris eu egestas. Maecenas mi dolor, pharetra eget mi ac, convallis sagittis erat.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam ut lorem nec lacus ornare imperdiet vel eu nulla.
                    Proin commodo risus eu imperdiet elementum. Mauris sodales dignissim magna a ullamcorper.
                    Maecenas neque lacus, varius eget blandit id, facilisis sed mi.
                </p>
            </div>

            <div class="profile-opinion">
                <div class="opinion-header">
                    <div class="opinion-username">Stachursky666</div>
                    <div class="opinion-utils">
                        <a class="remove-opinion-link" href="#">Usuń</a>
                        <a href="#">Edytuj</a>
                    </div>
                </div>
                <div class="opinion-rating">Ocena: 3/5</div>
                <div class="opinion-date">22.04.2021, 16:03</div>
                <p class="opinion-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec tincidunt eget mauris eu egestas. Maecenas mi dolor, pharetra eget mi ac, convallis sagittis erat.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam ut lorem nec lacus ornare imperdiet vel eu nulla.
                    Proin commodo risus eu imperdiet elementum. Mauris sodales dignissim magna a ullamcorper.
                    Maecenas neque lacus, varius eget blandit id, facilisis sed mi.
                </p>
            </div>

            <div class="profile-opinion">
                <div class="opinion-header">
                    <div class="opinion-username">Stachursky666</div>
                    <div class="opinion-utils">
                        <a class="remove-opinion-link" href="#">Usuń</a>
                        <a href="#">Edytuj</a>
                    </div>
                </div>
                <div class="opinion-rating">Ocena: 3/5</div>
                <div class="opinion-date">22.04.2021, 16:03</div>
                <p class="opinion-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec tincidunt eget mauris eu egestas. Maecenas mi dolor, pharetra eget mi ac, convallis sagittis erat.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam ut lorem nec lacus ornare imperdiet vel eu nulla.
                    Proin commodo risus eu imperdiet elementum. Mauris sodales dignissim magna a ullamcorper.
                    Maecenas neque lacus, varius eget blandit id, facilisis sed mi.
                </p>
            </div>

            <div class="profile-opinion">
                <div class="opinion-header">
                    <div class="opinion-username">Stachursky666</div>
                    <div class="opinion-utils">
                        <a class="remove-opinion-link" href="#">Usuń</a>
                        <a href="#">Edytuj</a>
                    </div>
                </div>
                <div class="opinion-rating">Ocena: 3/5</div>
                <div class="opinion-date">22.04.2021, 16:03</div>
                <p class="opinion-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec tincidunt eget mauris eu egestas. Maecenas mi dolor, pharetra eget mi ac, convallis sagittis erat.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam ut lorem nec lacus ornare imperdiet vel eu nulla.
                    Proin commodo risus eu imperdiet elementum. Mauris sodales dignissim magna a ullamcorper.
                    Maecenas neque lacus, varius eget blandit id, facilisis sed mi.
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>