<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profil użytkownika</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
    <link th:href="@{/styles/profile.css}" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class="buttons-section">
            <a th:if="${param.opinions == null}" th:href="@{/report/opinions(username=${userInfo.username}, type=all)}" class="btn btn-danger products-util xls-category-download"><i class="fa-solid fa-file-arrow-down"></i>Pobierz xls</a>
            <a th:if="${param.opinions != null}" th:href="@{/report/opinions(username=${userInfo.username}, type=${param.opinions[0]})}" class="btn btn-danger products-util xls-category-download"><i class="fa-solid fa-file-arrow-down"></i>Pobierz xls</a>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="user-main">
                    <div class="user-image">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div id="profile-username"><span th:text="${userInfo.username}"></span></div>
                    <a sec:authorize="isAuthenticated()" th:if="${userInfo.username.equalsIgnoreCase(#authentication.getPrincipal().getUsername())}" th:href="@{edit-profile(username=${#authentication.getPrincipal().getUsername().toLowerCase()})}" class="btn btn-primary edit-info-button" type="submit">Edytuj profil</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{#}" th:if="${!userInfo.username.equalsIgnoreCase(#authentication.getPrincipal().getUsername())}" class="btn btn-primary edit-info-button" type="submit">Obserwuj</a>
                    <a sec:authorize="isAnonymous()" th:href="@{#}" class="btn btn-primary edit-info-button" type="submit">Obserwuj</a>

                </div>
            </div>
            <div class="col-7 my-5">
                <div class="user-info">
                    <div>
                        <p>Imię:</p>
                        <p>Nazwisko:</p>
                        <p>Miasto:</p>
                        <p>Email:</p>
                        <p>Telefon:</p>
                    </div>
                    <div class="user-info-values">
                        <p th:text="${userInfo.firstName}"></p>
                        <p th:text="${userInfo.lastName}"></p>
                        <p th:text="${userInfo.city}"></p>
                        <p th:text="${userInfo.email}"></p>
                        <p th:text="${userInfo.phone}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row profile-section">
            <p class="section-header">Lista życzeń</p>
            <div class="products-list">

                <div th:each="product : ${wishList}" class="product">
                    <div class="product-photo-container">
                        <img th:src="@{img/ajfon.jpg}" class="product-photo" alt="Responsive image">
                    </div>
                    <div class="product-content">
                        <form th:if="${!product.inWishList}" class="product-header" th:action="@{/wishlist-add(id=${product.id})}" method="POST">
                            <h3 class="product-title" th:text="${product.title}"></h3>
                            <button type="submit" class="btn btn-link heart-button"><i class="fa-regular fa-heart"></i></button>
                        </form>
                        <form th:if="${product.inWishList}" class="product-header" th:action="@{/wishlist-remove(id=${product.id})}" method="POST">
                            <h3 class="product-title" th:text="${product.title}"></h3>
                            <button type="submit" class="btn btn-link heart-button"><i class="fa-solid fa-heart"></i></button>
                        </form>
                        <div class="product-info">
                            <p>Sprzedawca: <a th:href="@{profile(username=${product.seller})}"><span th:text="${product.seller}"></span></a></p>
                            <p>Kategoria: <span th:text="${product.category}"></span></p>
                            <p>Cena: <span th:text="${product.price}" class="product-price"></span>zł</p>
                        </div>
                        <div class="product-utils">
                            <form class="product-seller-buttons" th:action="@{/product-delete(id=${product.id})}" method="POST">
                                <button type="submit" class="btn btn-danger buy-button delete-prod-button">Usuń</button>
                                <a th:href="@{/product-edit(id=${product.id})}" type="button" class="btn btn-light edit-prod-button">Edytuj</a>
                            </form>
                            <div class="product-customer-buttons">
                                <button type="button" class="btn btn-primary buy-button">Kup teraz</button>
                                <button type="button" class="btn btn-primary">Dodaj do koszyka</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row g-0 profile-section">
            <p class="section-header">Wystawione opinie</p>
            <div class="opinions-utils">
                <div class="btn-group opinions-dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Wszystkie
                    </button>
                    <ul class="dropdown-menu">
                        <li th:each="opinionType : ${opinionsTypes}"><a class="dropdown-item" th:text="${opinionType.name}" th:href="@{/profile(username=${userInfo.username}, opinions=${opinionType.urlName.toLowerCase()})}"></a></li>
                    </ul>
                </div>
                <a th:href="@{/add-opinion(profile=${userInfo.username})}" id="add-opinion-button" type="button" class="btn btn-primary">Dodaj opinię</a>
            </div>

            <div th:each="opinion : ${opinions}" class="profile-opinion">
                <div class="opinion-header">
                    <div class="opinion-username"><span th:text="${opinion.username}"></span></div>
                    <form class="opinion-utils" th:action="@{/opinion-delete(id=${opinion.id})}" method="POST">
                        <button type="submit" class="remove-opinion-link btn btn-link">Usuń</button>
                        <a th:href="@{/opinion-edit(id=${opinion.id})}">Edytuj</a>
                    </form>
                </div>
                <div class="opinion-rating">Ocena: <span th:text="${opinion.rating}"></span>/5</div>
                <div class="opinion-date"><span th:text="${opinion.dateAdded.toString()}"></span></div>
                <p class="opinion-description" th:text="${opinion.description}">
                </p>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>