body {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    color: white;
    min-height: 250px;
    background-color: #FA7D19;
    padding: 30px 40px;
    margin-top: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.jumbotron-text {
    margin-top: 20px;
    font-size: 20px;
}

.products-list {

}

.product {
    display: flex;
    margin-top: 20px;
    /*padding: 15px 15px 15px 0;*/
    padding: 15px 0;
}

.product-photo {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #FA7D19;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-header {
    display: flex;
    justify-content: space-between;
}

.product-info p {
    margin: 0;
    padding: 0;
}

.product-info p:last-of-type {
    margin-top: 5px;
}

.product-content {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    height: 200px;
    width: 100%;
}

.product-utils {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.product-utils a {
    text-decoration: none;
}

.fa-heart {
    font-size: 32px;
    margin-left: 10px;
    color: #FA7D19;
}

.product-utils-buttons {
    margin-top: auto;
    display: flex;
}

.buy-button {
    margin-right: 10px;
}

.category-dropdown, #sell-button {
    border-radius: 0.25em;
    height: 36px;
}

.category-dropdown {
    width: 150px;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
}

.products-util {
    border-radius: 0.25em;
    height: 36px;
}

.category-dropdown > li > a, .category-dropdown:hover > li > a {
    color: white;
}

.category-dropdown:active, .category-dropdown:focus {
    outline: none; !important;
    box-shadow: none; !important;
    color: white;
}

.products-utils {
    display: flex;
    margin-top: 20px;
}

#xls-category-download {
    margin-right: 10px;
}

.fa-solid, .fa-file-arrow-down {
    margin-right: 5px;
}

.product-seller-buttons {
    margin-right: 30px;
}

.delete-prod-button {
    width: 80px;
}

.edit-prod-button {
    width: 80px;
    background-color: #BDBDBD;
    color: white;
}

.products-list-menu {
    margin-top: 15px;
}

#sell-button {

}