.navbar, .navbar-expand-lg {
    background-color: #F8F8F8;
}

.navbar, .navbar-expand-lg a {
    text-decoration: none;
    color: black;
}

.navbar, .navbar-expand-lg a:hover {
    text-decoration: none;
    color: #FA7D19;
}

a.navbar-brand {
    color: #FFAC4A;
    font-size: 24px;
    letter-spacing: 0.05em;
    font-weight: bolder;
}

.fas, .fa-share-alt-square {
    color: #F31601;
    margin-right: 5px;
}

#login-button {
    width: 90px;
}

span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button.navbar-toggler {
    background-color: white;
    border: 1px solid #E2E6EA;
}

#login-button {
    margin-left: 15px;
}

.nav-content {
    justify-content: space-between;
}

.fa-circle-user {
    font-size: 36px;
    color: #0B5ED7;
}

.user-profile {
    display: flex;
    align-items: center;
    border: 2px solid #C5C5C5;
    border-radius: 30px;
    padding-right: 5px;
    margin-right: 0;
    background-color: white;
}

#username {
    display: block;
    color: black;
}